
/*-------------------- Footer Section Style------------------------- */
/* -------------------Footer Section Style------------------------- */
/* ------------------Footer Section Style ------------------------*/




.Contact-Me-section  {
    min-height: 0;
    padding: 0;
}

.Contact-Me-section .header-section {
    margin-top: 35px;
    text-align: center;
}

.Contact-Me-section .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-color);
}

.Contact-Me-section .header-section .title::before,
.Contact-Me-section .header-section .title::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Contact-Me-section .header-section .title::before {
    width: 140%;
    height: 1px;
    background: var(--main-color);
}

.Contact-Me-section .header-section .title::after {
    width: 45%;
    height: 3px;
    background: var(--main-color);
}

.Contact-Me-section {
    margin: 0;
    padding: 0;
}

.footer {
    position: relative;
    width: 100%;
    min-height: 200px;
    text-align: center;
    color: var(--main-color);
    overflow: hidden;
}



.content {
    position: relative;
    z-index: 10;
    padding-bottom: 20px;
}



.meon {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.link-me {
    color: var(--main-color);
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}


.link-me:hover {
    text-shadow: 0 0 10px var(--main-color);
}

.social {
    margin-top: 5px;
}
.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--main-color);
    margin: 2rem 1.5rem;
    transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}

.social a:hover {
    transform: scale(1.2) translateY(-4px);
    color: white;
}
.social a[aria-label="Go to Facebook"]:hover {
    background: linear-gradient(135deg, #3b5998, #6d84b4, #8b9dc3, #dfe3ee);
    border-color: black;
}

.social a[aria-label="Go to Instagram"]:hover {
    background: linear-gradient(135deg, #f09433, #f77737, #e1306c, #c13584, #833ab4, #5851db);
    border-color: black;
}

.social a[aria-label="Go to Linkedin"]:hover {
    background: linear-gradient(135deg, #0077b5, #008cc9, #00a0dc, #00b2ff);
    border-color: black;
}

.social a[aria-label="Go to Telegram"]:hover {
    background: linear-gradient(135deg, #0088cc, #009edc, #32a5e6, #6cc3f2);
    border-color: black;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.Sensei_Name{
    color: var(--main-color);
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Sensei_Name:hover {
    text-shadow: 0 0 10px var(--main-color);
}

.copyright span {
    color: var(--main-color);
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}