
/*// sensei-header.module.css*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 1%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid  var(--main-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo span {
    color: var(--text-color);
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 2.5rem;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a.active,
.navbar a:hover {
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.MenuIcon {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
}

.MenuIcon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--main-color);
    border-radius: 1rem;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.MenuIcon span:nth-child(1) {
    top: 0;
}

.MenuIcon span:nth-child(2) {
    top: 8px;
}

.MenuIcon span:nth-child(3) {
    top: 16px;
}

.MenuIcon.active span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

.MenuIcon.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.MenuIcon.active span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}

@media (max-width: 994px) {
    .MenuIcon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.7);
        border-top: 1px solid var(--main-color);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 1rem;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar:hover,
    .navbar.active {
        border-bottom: 0.3rem solid var(--main-color);
    }
}