
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(25px);
    background:url("../../../public/Assets/icons/loading.gif") no-repeat center center;
    display: flex;
    align-items: center;
}

