/* sensei-home.module.css */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
}

.homeImg {
    flex: 0 0 auto;
    max-width: 350px;
    width: 100%;
}

.homeImg img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 0 25px var(--main-color);
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.homeImg img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px var(--main-color));
}


.homeContent h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.highlight {
    color: var(--main-color);
}
.typingText {
    font-size: 34px;
    font-weight: 600;
    min-width: 300px;
}
.typingHighlight {
    position: relative;
    color: var(--main-color);
}

.typingHighlight::before {
    content:" ";
    animation: words 20s infinite;
}

.typingHighlight::after {
    content: " ";
    position: absolute;
    background-color: black;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}


@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

/* Keyframe for changing the words in the text */
@keyframes words {
    0%, 20% {
        content: "Software Engineer.";
    }
    21%, 40% {
        content: "Flutter Developer.";
    }
    41%, 61% {
        content: "Back-End Developer.";
    }
    62%, 80% {
        content: "Ai Developer.";
    }
    81%, 100% {
        content: "Artist.";
    }
}

/* Keyframe for the typing effect */
@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%,
    85% {
        width: calc(100% + 8px);
    }
}

.homeContent p {
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: justify;
    max-width: 650px;
}

.socialIcon {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.socialIcon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.socialIcon a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}

.homeButton {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 1rem 2.8rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px var(--main-color);
}

.btn svg {
    margin-left: 0.8rem;
    font-size: 1.8rem;
}

.btn1 {
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn1:hover {
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid transparent;
}

.btn2 {
    background: var(--main-color);
    color: black;
    border: 2px solid transparent;
}

.btn2:hover {
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}

@media (max-width: 968px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .homeImg {
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .socialIcon,
    .homeButton {
        justify-content: center;
    }

    .homeContent p {
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }

    .homeContent h3 {
        font-size: 2.5rem;
    }

    .btn {
        padding: 1rem 2rem;
        font-size: 1.7rem;
    }
}

@media (max-width: 1017px) {
    .homeContent h1 {
        font-size: 5.4rem;
    }
}

@media (max-width: 1003px) {
    .homeContent h1 {
        font-size: 5rem;
    }
}

@media (max-width: 993px) {
    .homeContent h1,
    .homeContent h3 {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .homeContent h1 {
        font-size: 4.8rem;
    }

    .homeContent h3 {
        font-size: 3rem;
    }

    .homeButton {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .homeContent h1 {
        font-size: 4.5rem;
    }

    .homeContent h3 {
        font-size: 3rem;
    }

    .btn {
        font-size: 1.7rem;
    }
}

@media (max-width: 547px) {
    .homeContent h1 {
        font-size: 4rem;
    }

    .homeContent h3 {
        font-size: 3rem;
    }

    .homeButton {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .homeContent h1 {
        font-size: 3.5rem;
    }

    .homeContent h3 {
        font-size: 3rem;
    }

}

@media (max-width: 495px) {
    .homeContent h1 {
        font-size: 3rem;
    }

    .homeContent h3 {
        font-size: 3rem;
    }

    .homeButton {
        flex-direction: column;
        align-items: stretch;
    }
}

