/* ------------------This is Service & Projects Section Style---------- */
/* ------------------This is Service & Projects Section Style---------- */
/* ------------------This is Service & Projects Section Style---------- */



/*
*@Author: Ahmed_Sensei
*@Description: A responsive experience component with a menu that highlights the active section of the page.
 */

.section-services,
.section-projects {
    min-height: 100vh;
    padding: 60px 0;
}


.header-section {
    margin-top: 35px;
    text-align: center;
}

.header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-color);
}

.header-section .title::before,
.header-section .title::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-section .title::before {
    width: 140%;
    height: 1px;
    background: var(--main-color);
}

.header-section .title::after {
    width: 45%;
    height: 3px;
    background: var(--main-color);
}

.container {
    margin: 0 auto;
    padding: 0 5rem 5%;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 3rem 5%;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 1.5rem 5%;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 1.5rem 5%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 1.5rem 5%;
    }
}

.grid-container,
.grid-containerp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.single-service,
.single-project {
    background: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s ease;
    border: 2px solid var(--main-color);
}

.single-service:hover,
.single-project:hover {
    background: transparent;
    box-shadow: 0 0 25px var(--main-color);
}

.single-service:hover .part-1,
.single-project:hover .part-1 {
    border-bottom: 2px solid var(--main-color);
}


.part-1 {
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}


.part-1 i {
    font-size: 40px;
    color: black;
    transition: color 0.3s ease;
}

.part-1 h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: black;
}

.part-2 {
    padding: 20px 0;
}

.part-2 .description {
    margin-bottom: 20px;
    color: black;
    font-size: 16px;
    line-height: 1.6;
}

.part-2 a {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.single-service:hover .part-2 a,
.single-project:hover .part-2 a {
    color: black;
}

.single-service:hover .part-1 i,
.single-project:hover .part-1 i {
    color: var(--main-color);
}

.single-service:hover .part-1 h3,
.single-project:hover .part-1 h3,
.single-service:hover .part-2 .description,
.single-project:hover .part-2 .description {
    color: var(--main-color);
}


.single-project:active {
    transform: scale(0.95);
}


.description {
    color: var(--second-bg-color);
}