/*
 * AnimatedBackground.module.css
 * @Author: Mostafa Sensei106
 * @Description: A component that displays an animated background with bubbles and meteors.
 */


 .particles-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}