/*
 * AnimatedBackground.module.css
 * @Author: Mostafa Sensei106
 * @Description: A component that displays an animated background with bubbles and meteors.
 */

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*z-index: -1;*/
}
