/*-----------------This is Art Gallery Section Style-----------------*/
/*-----------------This is Art Gallery Section Style-----------------*/
/*-----------------This is Art Gallery Section Style-----------------*/

.art-gallery-section {
    min-height: 100vh;
    padding: 60px 0;
}

.art-gallery-content  {
    padding: 0 5rem 5%;
}

.art-gallery-section .header-section {
    margin-top: 35px;
    text-align: center;
}

.art-gallery-section .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--main-color);
}

.art-gallery-section .header-section .title::before,
.art-gallery-section .header-section .title::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.art-gallery-section .header-section .title::before {
    width: 140%;
    height: 1px;
    background: var(--main-color);
}

.art-gallery-section .header-section .title::after {
    width: 45%;
    height: 3px;
    background: var(--main-color);
}

.art-gallery-section {
    margin: 0;
}


.art-gallery-section .art-gallery-content .Gallery img {
    border-radius: 1rem;
    width: 100%;
    transition: 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.art-gallery-section .art-gallery-content .Gallery img:hover {
    border: 2px solid var(--main-color);
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--main-color);
}

.Gallery {
    column-count: 4;
    column-gap: 16px;
}

.Gallery .art_pic {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}

@media (max-width: 1199px) {
    .Gallery {
        column-count: 3;
    }
}

@media (max-width: 991px) {
    .Gallery {
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .Gallery {
        column-count: 1;
    }
}


